.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CabinetGrotesk, sans-serif;
    visibility: hidden;
}

.modal__opened {
    visibility: visible;
}

.modal__title {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.modal__content {
    background-color: #fff;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 496px;
    max-height: 436px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
}

.modal__content.modal__content_type_image {
    max-width: 498px;
    width: 100%;
    max-height: 610px;
    height: 100%;
    border-radius: 16px;
    border: 1px;
    padding: 0;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.modal__image {
    max-width: 498px;
    width: 100%;
    max-height: 498px;
    height: 100%;
    object-fit: cover;
    padding: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.modal__caption {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 20px 32px 0;
}

.modal__weather {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 12px 32px 0;
}

.modal__delete-btn {
    display: flex;
    background: none;
    border: none;
    color: #ff4d00;
    margin: 0 33px 0;
}

.modal__close {
    position: absolute;
    background-image: url('../../assets/close-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 20px;
    right: 28px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.modal__input {
    display: block;
    max-width: 440px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin: 8px 0 0;
    padding: 4px 0;
    height: 24px;
    background: transparent;
}

.modal__radio-button {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 173px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    
}

.modal__legend {
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;   
    letter-spacing: 0.02em;
    width: 173px;
    height: 20px;
    white-space: nowrap;
    
}

.modal__label.modal__label_type_radio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 8px;
}

.modal__submit {
    width: 124px;
    height: 36px;
    opacity: 1;
    gap: 8px;
    margin: 32px 0 36px;
    background: #0000004D;
    border-radius: 4px;
    border: none;
    color: #fff;    
}