.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    font-family: CabinetGrotesk, sans-serif;
}

.header__logo {
    margin-right: 24px;
}

.header__date-and-location {
    margin: 0;
}

.toggle-switch {
    margin-right: 0 24px 0 auto;
}

.header__add-clothes-button {
    border: none;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__username {
    margin: 0;
}